/* If not using Tailwind via PostCSS, import the generated Tailwind CSS instead */
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

body {
  /* If @apply is not supported, use regular CSS properties */
  background-color: #fafafa;
  color: #000000;
  font-family: "Urbanist", sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  background-color: #fff !important;
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  color: #222 !important;
}
