/* If not using Tailwind via PostCSS, import the generated Tailwind CSS instead */
@import "tailwindcss/base.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css";

body {
  /* If @apply is not supported, use regular CSS properties */
  background-color: #fafafa;
  color: #000000;
  font-family: "Urbanist", sans-serif;
}
